
.stripe{
    margin-left: -15px;
    margin-right: -15px;
}
.stripe.menubar{
    height: 43px;
    padding-right: 20px;
    background-color: #f2bcad;

}
.stripe.menubar img{
    height:42px;

}
.stripe.promo{
    height: 750px;
    background-image: url(pedro.gif);
    background-size: cover;
    background-position: center;
}
.stripe.features{
    text-align: center;
    vertical-align: middle;
    height:auto;
}
.stripe.features .item{
   background-color: #dbdddf;
    padding-bottom: 20px;
}

.stripe.features .item  img.feature.image{
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;

}
.stripe.features .item .feature.text{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width:260px;
}
.stripe.videoholder{
    height:365px;
    margin-top:30px;
}
.stripe.videoholder .item .text{
   text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    padding: 25px 100px 25px 100px;
}
.stripe.videoholder .item .video{
    margin-bottom: 25px;
}